body{
    height: 100%;
    /* width: 100%; */
    background-color: #2f1893 ;
    color:white;
}

.container{
    margin : 55px 200px;
    /* background-color: red; */
    display:flex;
    /* justify-content:space-between; */
    
}
.left{
    min-height:500px;
    width:60%;
    /* border : 1px solid black */
    /* pading-right: 20px; */
}
.right{
    flex-grow:1;
    padding-top: 18px;
    /* border : 1px solid black */
    background-color:white;
    border-radius:15px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar{
    font-size:25px;
    display: flex;
    justify-content: space-between;
    margin : 55px 200px;
}

.navbar-right ul {
    
    display: flex;
    justify-content: flex-end;
  
    align-items: center;
}

.elements{
    font-size: 22px;
    margin-right : 25px;
}

a#overview{
    color: 
#6352ae;
    /* background-color: red */
}


a{
    color:white;
    text-decoration:none;
}

.heading{
    /* background-color:green; */
    font-size:39px;
    word-wrap: break-word;
}

.para{
    font-size:23px;
    margin-right : 250px
}

.btn{
  /* background-color:yellow; */
    padding-top: 20px;
}
button{
    /* border:none;
    font-size:15px;
    border-radius:30px;
    height:50px;
    width:150px;
    background-color:#e93a7d; */
}

button{
    cursor:pointer;
    transition:1s;
}

button:hover{
    opacity:0.8;
}

a:hover{
    color:#919191;
}

#learn-more{
    cursor:pointer;
    border:none;
    font-size:15px;
    border-radius:30px;
    height:50px;
    width:150px;
    color:white;
    background-color:#e93a7d;
}

#purchase{
    color: white;
     border:none;
    font-size:15px;
    border-radius:20px;
    height:35px;
    width:120px;
    background-color:#e93a7d;
}

.signup-form{
    background-color : white;
    /* padding: 10px 10px; */
    color: black;

    align-items: center;
    text-align: center;
    
}

input[type="text"], input[type="password"] {
    /* Your styles for text input elements go here */
    border: 1px solid #ccc;
    padding: 10px;
    padding-left: 15px;
    
    border-radius: 20px;
    /* margin-top : 15px; */
    width:65%;
}



.heading-form{
    /* background-color:green; */
    margin-bottom:36px;
    margin-top:50px;
    font-size:20px;
}

.form-group{
    margin: 25px 0px;
}


.form-group input:checked ~ .checkmark {
  background-color: red;
}



.checkbox-group{
    color: #a3a3ab
}

.separator {
    /* display: flex; */
    align-items: center;
    margin: 15px 0;
}

.separator {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 0px 50px;
}

hr {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
}

span {
    margin: 0 10px;
    font-weight: bold;
}

.submit-btn{
    background-color:#482be7;
    width:65%;
    border-radius: 22px;
    padding: 13px 10px;
    border: none;
    color: white;
}

.twitter-button{
    background-color:#1da1f2;
    width:65%;
    border-radius: 22px;
    padding: 13px 10px;
    border: none;
    color: white;
}

.signin{
    /* background-color:green; */
    color: #4be0cf;
    cursor : pointer;
}

.bottom-line{
    color: #a3a3ab;
    margin-top : 35px;
}


@media screen and (max-width: 900px) {

    .navbar{
        display:none;
    }
    .container{
        display:none;
    }

    #disclaimer{
        font-family: 'Courier New', monospace;
        border-radius: 30px;
        border: 1px solid black;
        background-color:black;
        margin-top:90px;
        padding:20px;
        color: red;
        font-size:25px;
    }
}